:root {
  --color-float: #0165ee;
  --color-chat: #f93920;
  --color-facebook: linear-gradient(220.97deg, #ff666d 8.67%, #9539fe 52.12%, #0191ff 87.37%);
  --color-telegram: linear-gradient(203.2deg, #37aee2 21.67%, #1e96c8 70%);
  --color-zalo: #0068ff;
  --color-call: #fc8800;
}
